{{ message }}
prout
<form action="/" method="post">
    {% csrf_token %}
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="Submit">
</form>

<form action="/" method="post">
    {% csrf_token %}
    <input id="get_labels" style="display: None" name="button_action" value="get_labels">
    <input type="submit" value="Refresh Labels from Qonto">
</form>

{% for parents, childs in labels.items %}
    {% for child in childs %}
        <div>{{ child }}</div>
    {% endfor %}
{% endfor %}