{% extends 'admin/change_list.html' %}
{% load i18n static %}
{% load admin_list %}


{% block object-tools %}
    <div style="margin: 1em">
        <a href="/action/refresh_qonto_label">
            <button style="margin-left: 1em">Refresh Qonto Label</button>
        </a>
        <a href="/action/refresh_odoo_articles">
            <button style="margin-left: 1em">Refresh Odoo Articles</button>
        </a>
        <a href="/action/refresh_journal_account">
            <button style="margin-left: 1em">Refresh Odoo Journal Account</button>
        </a>

        <a href="/action/refresh_analytic_account">
            <button style="margin-left: 1em">Refresh Odoo Analytic Account</button>
        </a>
    </div>
    <div style="margin: 1em">
        <div>Seul l'article est pris en compte aujourd'hui dans l'envoie et la création de facture Odoo.</div>
        <div>A voir la méthode pour la suite si besoin ?</div>
    </div>
    {{ block.super }}
{% endblock %}
