<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>TiQO</title>
</head>
<body>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block content %}
{% endblock %}

</body>
{% block javascript %}
{% endblock %}
{#<script>#}
{#    var message = "{{ message }}";#}
{#    if (message != "") {#}
{#        alert("{{ message }}");#}
{#    }#}
{#</script>#}
</html>