<div>
    {{ message }}
</div>
<div>
    <h2>Qonto</h2>
    <form action="/" method="post">
        {% csrf_token %}
        <input id="get_labels" style="display: None" name="button_action_qonto" value="get_labels">
        <input type="submit" value="Get Labels from Qonto">
    </form>
    <h3>Table des tags Qonto, classée par parents/enfants</h3>
    <table>
        <tr>
            <th>Parent</th>
            <th>Label</th>
        </tr>

        {% for parent, childs in labels.items %}
            {% for child in childs %}
                <tr>
                    <td>{{ parent.name }}</td>
                    <td>{{ child.name }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
</div>


<div>
    <h2>Odoo</h2>
    <form action="/" method="post">
        {% csrf_token %}
        <input id="get_labels" style="display: None" name="button_action_odoo" value="get_account_journal">
        <input type="submit" value="Get account.journal from Odoo">
    </form>
    <h3>Table des account.journal Odoo</h3>
    <table>
        <tr>
            <th>Journal</th>
        </tr>

        {% for journal in account_journal %}
            <tr>
                <td>{{ journal.name }}</td>
            </tr>
        {% endfor %}
    </table>
</div>